
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
</head>
<body class="bg-info" style="background-color: #228f53 !important">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="w-100 d-block my-5">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-5">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="text-center mb-1 mt-3">
                                            <a href="#">
                                                <span><a href="https://laive.pe/"><img src="@Url.Content("~/Imagenes/logo_white.png")" alt="" height="100"></a></span>
                                            </a>
                                        </div>
                                        <form action="@Url.Content("~/Login/Login")" method="post" class="p-0" >
                                            <div class="form-group">
                                                <label for="User">Usuario</label>
                                                <input class="form-control" type="text" name="Usuario" required="" autocomplete="off" value="">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Contraseña</label>
                                                <input class="form-control" type="password" required="" name="clave" autocomplete="off" value="">
                                            </div>

                                            <div class="mb-5 mt-4 text-center">
                                                <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
                                                <button class="btn btn-danger btn-block" type="reset">Cancelar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row mb-4 mt-4">
                                    <div class="col-sm-12 text-center">
                                        <p class="text-white mb-0">Curso:  <a href="" target="_blank" class="text-white ml-1"><b>Diseño de Aplicacion Distribuidas</b></a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
